<div class="calc-btns-container">
  <div class="calc-btn-row">
    <button id="clear" class="calc-btn" (click)="pressClear()">AC</button>
    <button id="seven" class="calc-btn" (click)="pressDigit(7)">7</button>
    <button id="four" class="calc-btn" (click)="pressDigit(4)">4</button>
    <button id="one" class="calc-btn"(click)="pressDigit(1)">1</button>
    <button id="zero" class="calc-btn" (click)="pressDigit(0)">0</button>
  </div>

  <div class="calc-btn-row">
    <button id="clearOne" class="calc-btn">CE</button>
    <button id="eight" class="calc-btn" (click)="pressDigit(8)">8</button>
    <button id="five" class="calc-btn" (click)="pressDigit(5)">5</button>
    <button id="two" class="calc-btn" (click)="pressDigit(2)">2</button>
    <button id="decimal" class="calc-btn" (click)="pressDecimal()">.</button>
  </div>

  <div class="calc-btn-row">
    <button class="calc-btn">%</button>
    <button id="nine" class="calc-btn" (click)="pressDigit(9)">9</button>
    <button id="six" class="calc-btn" (click)="pressDigit(6)">6</button>
    <button id="three" class="calc-btn" (click)="pressDigit(3)">3</button>
    <button id="add" class="calc-btn" (click)="pressOperator(operators.add.value)">{{ operators.add.value }}</button>
  </div>

  <div class="calc-btn-row">
    <button id="divide" class="calc-btn" (click)="pressOperator(operators.divide.value)">{{ operators.divide.value }}</button>
    <button id="multiply" class="calc-btn" (click)="pressOperator(operators.multiply.value)">{{ operators.multiply.value }}</button>
    <button id="subtract" class="calc-btn" (click)="pressOperator(operators.subtract.value)">{{ operators.subtract.value }}</button>
    <button id="equals" class="calc-btn" (click)="pressEquals()">=</button>
  </div>
</div>