.calc-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: .4rem;
  grid-row-gap: .4rem;
}

.calc-btn {
	padding: .6rem;
	background-color: var(--white); // override default button style
	border: 0; // override default button style
	font-family: var(--font-primary);
	font-size: 1.3rem;
}

#clear,
#equals {
	border-radius: 15px;
	color: var(--white);
}

#clear {
	grid-column-start: span 2;
	background: #ff9966;  // fallback for old browsers 
	background: linear-gradient(to right, #ff5e62, #ff9966); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}

#equals {
	grid-row-start: span 2;
	background: #74ebd5;  // fallback for old browsers
	background: linear-gradient(to bottom, #ACB6E5, #74ebd5); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}