.display {
	margin: .5rem 0;
	text-align: right;
}

.expression {
	min-height: .75rem; // so empty expression is not collapsed
	font-size: 1.15rem;
	line-height: .75rem; // so empty expression is not collapsed 
}

.output {
	margin-top: .1rem;
	font-size: 2.75rem;
}