/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-primary: 'Open Sans', sans-serif;
	--white: #fff;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	background-color: #ededed;
	font-family: var(--font-primary);
	font-weight: 300;
}
